@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


  
 
/**/
*{
    padding: 0%;
    
}

h1 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Noto Sans',sans-serif;
    background-color: #2e2d2d;

}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: line;
    background-color: #2e2d2d;

    
}

.card{
    
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 3px 3px rgb(160, 0, 223);
    color: rgb(253, 253, 253);
    padding: 0px;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #8f9091;
    border-radius: 20px;
    box-shadow: 0px 10px 10px #00000056;
    padding-top: 10px;
    margin-left: 20px;
    text-decoration: none;
    background-image: url(assets/basquete.jpg);
    background-position: bottom center;
    background-size: cover;
}


#futi{
    background-image: url(assets/futebol.jpg);
    background-position: bottom center;
    background-size: cover;
    
}
#voli{
    background-image: url(assets/volei.jpg);
    background-position: bottom center;
    background-size: cover;
    
}
#basi{
    background-image: url(assets/basquete.jpg);
    background-position: bottom center;
    background-size: cover;
    
}



@media only screen and (max-width:950px){
    .card{
        width: 85%;
        
    }
}
@media only screen and (max-width:600px){
    .main{
       flex-direction: column;
       padding-top: 10px;
       margin-left: 20px;
    }
    .card{
        width: 90%;
        padding-top: 10px;
    margin-left: 20px;
    }
}
