@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
 
/**/
*{
    padding: 0%;
    
}
body{
    background-color: #2e2d2d;
}
h1{
    font-family: 'Poppins', sans-serif;

}

.container{
    
    width: 50%;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 300px;
    margin-top:40px;
    background-color: #aaaaaa;
    padding: 0px;
    padding-top: 1px;
    padding-bottom: 50px;
    align-content: center;
    border-radius: 40px;
    border-style:solid;
    border-color: rgb(255, 123, 0);
    
}
.placar1{
    margin-bottom: 10px;
    
}

#placar1:hover {
    transform: scale(1.1);
  }
  #placar2:hover {
    transform: scale(1.1);
  }
  #placar3:hover {
    transform: scale(1.1);
  }

.placar {
    font: 1em sans-serif;
    color: rgb(0, 0, 0);
    padding: 0px;
    border: 10px;
    width: 545px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #8f9091;
    border-radius: 60px;
    box-shadow: 0px 10px 10px #00000056;
    margin-top: 35px;
    margin-left: 0px;
    text-decoration: none;
    }

    .time{
        display: inline;
        color: #000000;
        width: 20px;
        height: 20px;
    }
    #esqtime1{
        color: aliceblue;
        position: absolute;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-right: 400px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #dirtime1{
        color: aliceblue;
        position: absolute;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-left: 400px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #esqtime2{
        color: aliceblue;
        position: absolute;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-right: 400px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #dirtime2{
        color: aliceblue;
        position: absolute;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-left: 400px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #esqtime3{
        color: aliceblue;
        position: absolute;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-right: 400px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #dirtime3{
        color: aliceblue;
        position: absolute;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-left: 400px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    }


    #res1{
        position: absolute;
        margin-right: 130px;
    }
    #res2{
        position: absolute;
        margin-left: 130px;
    }
    #avi1{
        color: rgba(255, 0, 0, 0.664);
    }
    .aviso{
        font-size: small;
        position: absolute;
        margin-top: 85px;
    }
    .button{
        background-color: #41358C;
            width: 120px;
            height: 20px;
            border-radius: 20px;
            border: none;
        }
        #button1{
            position: absolute;
            margin-top: -60px;
            margin-left:-60px;
        }
        #button2{
            position: absolute;
            margin-top: -60px;
            margin-left:-60px;
        }
        #button3{
            position: absolute;
            margin-top: -60px;
            margin-left:-60px;
        }
    img{
        padding-top: 2px;
        height: 70px;
        width: 70px;}


@media only screen and (max-width:950px){
    .placar1 .placar2 .placar3 {
        width: 85%;
    }
}
@media only screen and (max-width:600px) {
    .main-login{
       flex-direction: column;
    }
} 